@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  /** CSS DARK THEME PRIMARY COLORS */
  --color-primary-100: #cc0000;
  --color-primary-200: #d73a1f;
  --color-primary-300: #e15839;
  --color-primary-400: #e97253;
  --color-primary-500: #f18a6e;
  --color-primary-600: #f7a28a;
  /** CSS DARK THEME SURFACE COLORS */
  --color-surface-100: #121212;
  --color-surface-125: #1a1a1a;
  --color-surface-150: #1c1c1c;
  --color-surface-200: #282828;
  --color-surface-300: #3f3f3f;
  --color-surface-400: #575757;
  --color-surface-500: #717171;
  --color-surface-600: #8b8b8b;
  --color-surface-700: #a6a6a6;
  --color-surface-800: #c2c2c2;
  --color-surface-900: #dedede;
  /** CSS DARK THEME MIXED SURFACE COLORS */
  --color-surface-mixed-100: #251612;
  --color-surface-mixed-200: #3a2b28;
  --color-surface-mixed-300: #50423f;
  --color-surface-mixed-400: #675a57;
  --color-surface-mixed-500: #7f7371;
  --color-surface-mixed-600: #978e8b;
}

body {
  background: linear-gradient(
    45deg,
    var(--color-surface-100),
    var(--color-surface-150)
  );
  color: var(--color-surface-900);
  font-family: "Raleway", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: var(--color-surface-500);
}

button {
  background: linear-gradient(
    45deg,
    var(--color-primary-100),
    var(--color-primary-200),
    var(--color-primary-300)
  );
  padding: 0.75rem 1rem;
  color: var(--color-surface-900);
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  transition: all 0.3s;
}

button:hover {
  opacity: 0.9;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

form div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

form input {
  padding: 0.5rem;
  border: 1px solid var(--color-surface-200);
  border-radius: 0.25rem;
  font-size: 1rem;
  background-color: var(--color-surface-100);
  color: var(--color-surface-900);
}
form label {
  font-size: 1rem;
  color: var(--color-surface-700);
}

input:focus::placeholder {
  color: transparent;
}

input:focus {
  outline: none;
  border: 1px solid var(--color-surface-900);
}

@media (prefers-color-scheme: light) {
  :root {
    --primary-color: ;
    --secondary-color: ;
    --text-color: ;
    --background-color: ;
  }
}
